
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["PracownikId"] == null)
    {
        Response.Redirect("~/Admin/Logowanie");
    }
}

@if (Session["Name"] == null)
{
    <h2>Nie jesteś zalogowany</h2>
}
else
{
    <p>Jesteś zalogowany jako :@Session["Name"].ToString()</p>
}
<div class="jumbotron">
    <h1>Przychodnia POZ</h1>
    <p class="lead">Panele Administratora systemu</p>
    <p><a href="" class="btn btn-primary btn-lg">Zobacz więcej</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Wizyta do lekarza</h2>
        
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("DodajWizytaLekarzMenu", "Admin")">Dodaj wizytę do lekarza</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lekarze</h2>
        <p>Wyświetl dostępne wizyty do lekarzy</p>
        <p><a  href="@Url.Action("SpecjalizacjaMenu", "Admin")">Wizyty lekarz</a></p>
    </div>
    <div class="col-md-4">
        <h2>Badania</h2>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("DostepneWizytaBadaniaMenu", "Admin")">Dostępne wizyty na badania</a></p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("DodajWizytaBadanieMenu", "Admin")">Dodaj wizyty na badania</a></p>
    </div>
</div>

