
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["PracownikId"] == null)
    {
        Response.Redirect("~/Admin/Logowanie");
    }
}

@if (Session["Name"] == null)
{
    <h2>Nie jesteś zalogowany</h2>
}
else
{
    <p>Jesteś zalogowany jako :@Session["Name"].ToString()</p>
}
<div class="jumbotron">
    <h1>Przychodnia POZ</h1>
    <p class="lead">Panele Administratora systemu</p>
    <p><a href="" class="btn btn-primary btn-lg">Zobacz więcej</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Dodaj Wizytę</h2>
        <p>
            Przejrzyj historię przychodni (wizyty i badania)
        </p>
        <p><a class="btn btn-default" href="">Historia</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lekarze</h2>
        <p>Wyświetl dostępnych lekarzy</p>
        <p><a class="btn btn-default" href="">Lekarze</a></p>
    </div>
    <div class="col-md-4">
        <h2>Badania</h2>
        <p>Wyświetl dostępne badania</p>
        @Html.ActionLink("Dodaj nowe Wizyty lekarskie", "DodajWizytaLekarz")
    </div>
</div>

