@model IEnumerable<PrzychodniaPOZ.Models.Specjalizacja>


<h2>Specjalizacja</h2>




<nav class="list-group">
    <ul>
        @foreach (var spec in Model)
        {
            <li>
                <a href="@Url.Action("DodajWizytaLekarz", "Admin", new {id = spec.SpecjalizacjaId})">@spec.Nazwa </a>


            </li>
        }
    </ul>
</nav>

