@model IEnumerable<PrzychodniaPOZ.Models.Specjalizacja>


<h4>Wybierz specjalizację</h4>




<nav class="list-group">
    <ul>
        @foreach (var spec in Model)
        {
            <li>
                <a href="@Url.Action("DostepneWizytaLekarz", "Admin", new { id = spec.SpecjalizacjaId })">@spec.Nazwa </a>


            </li>
        }
    </ul>
</nav>
