@model IEnumerable<PrzychodniaPOZ.Models.Specjalizacja>


<h4>Wybierz specjalizację</h4>




<table class="table">

    @foreach (var spec in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("DostepneWizytaLekarz", "Admin", new { id = spec.SpecjalizacjaId})">@spec.Nazwa </a>
            </td>
        </tr>
    }

</table>
