@model IEnumerable<PrzychodniaPOZ.Models.WizytaBadanie>
<div>
    <ul>
        @foreach (var wizyty in Model)
        {
            <li>
                @wizyty.Badanie.Nazwa
            </li>
            <li>
                @wizyty.DataBadanie
            </li>
            <li>
                @wizyty.GodzinaBadanie
            </li>
        }
    </ul>

</div>
