@model IEnumerable<PrzychodniaPOZ.Models.WizytaBadanie>
@{
    ViewBag.Title = "WyswietlBadanie";
    Layout = "~/Views/Shared/_LayoutDostepneWizytaBadanie.cshtml";
}

<h2>WyswietlBadanie</h2>

<div>
    <ul>
        @foreach (var wizyty in Model)
        {
            <li>
                @wizyty.Badanie.Nazwa
            </li>
            <li>
                @wizyty.DataBadanie
            </li>
            <li>
                @wizyty.GodzinaBadanie
            </li>
        }
    </ul>

</div>