
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Przychodnia POZ</h1>
    <p class="lead">Witamy na stronie przychodni POZ</p>
    <p><a href="" class="btn btn-primary btn-lg">Zobacz więcej</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Historia przychodni</h2>
        <p>
            Przejrzyj historię przychodni (wizyty i badania)
        </p>
        <p><a class="btn btn-default" href="">Historia</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lekarze</h2>
        <p>Wyświetl dostępnych lekarzy</p>
        <p><a class="btn btn-default" href="">Lekarze</a></p>
    </div>
    <div class="col-md-4">
        <h2>Badania</h2>
        <p>Wyświetl dostępne badania</p>
        <p><a class="btn btn-default" href="#">Badania</a></p>
    </div>
</div>

